/*STYLE FOR ABOUT PAGE*/
.about-container
{
    /* display: flex;

    flex-direction: column;
    margin:5px;
    /* background-color: rgba(214, 189, 144, 0.788); 
    min-height: 100%; */

    flex: 1;
  padding: 20px;
}
h2{
  margin:0 auto;
}
.about-container p
{
  margin:10px;
  padding:5px;
}

.about-container h2
{
  margin:10px;
}

.about-container img
{
  width:40px;
}


/* Styling for cellphones*/
@media (max-width:600px ) {
  .about-container{
     min-height: 100%;
  }
  
 .about-container p
{
  margin:5px;
  padding:5px;
  font-size: 12px;
  
}

.about-container h2
{
  margin:5px;
  font-size: medium;
}

.about-container img
{
  width:40px;
}

  
}

/*Styling for tablets*/
@media (max-width: 900px) {
  .about-container p
  {
    margin:10px;
    padding:5px;
    font-size: medium;
  }

  .about-container h2
  {
    margin:10px;
    
  }

  .about-container img
  {
    width:40px;
  }
}