/*STYLE FOR REQUEST FORM*/

.new-book-container{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
    
}
 .contact
    {
        width:20rem;         
        /* background-color: rgba(214, 189, 144, 0.788); */
        background-color:rgba(100, 23, 4, 0.336);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        
        
    }


.contact label,select,input
{
  margin:10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  /* padding:0.25rem; */
}
.contact h3
{
  padding:10px;
}
.custombutton
{
  width:5rem;
  background: black;
  margin-left:10px;
  margin-top:20px;
  border-radius: 5px;
  height: 35px;
  color:white;
}
.success{
background-color:rgba(100, 23, 4, 0.336);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
}

.error-message{
   color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}