html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/AdobeStock_361448104_Preview.jpeg');
  background-size: cover;       /* Ensures the image covers the whole screen */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center;  /* Centers the image */
}